<!DOCTYPE html>
<html lang="en">

<head>
    {%from "macros.html" import render_navbar, render_footer , render_short_post, render_css_include, render_script_include with context%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog</title>

    {{render_css_include()}}


</head>

<body>

    <!-- Navigation -->
    {{ render_navbar() }}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->

    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form method="POST" id="add_post">
                <div class="row">
                    <div class="form-group">
                        <label for="lbTitle">Title : </label>
                        <textarea class="form-control" name="title" id="title" rows="1" placeholder="title">
                            {%- if post -%}value="{{post.title}}"{%- endif -%}
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="lbContent">Content : </label>
                        <textarea class="form-control" rows="5" name="content" placeholder="content">
                            {%- if post -%}value="{{post.content}}"{%- endif -%}
                        </textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <hr>

    <!-- Footer -->

    {{ render_footer() }}

    {{render_script_include()}}
</body>

</html>
